node_modules/
.idea
.DS_STORE
npm-debug.log
index.html

assets/graphics/
assets/icons/
scripts/
dist/
coverage/
src/environment.js
src/deployment.js
src/resources/locales/
src/routes/_route_handlers/

#for vim:
*.swp
*.swo
