@import "../../resources/styles/theme_guide.less";

#slider {
  // border: solid 1px red;
}
#hint {
margin: 10px 0 10px 0;
// border: solid 1px red;
height: 60px;
font-family: "Roboto-Light", "Roboto", Open Sans;
color: @snow-white;
text-align: center;
font-size: 12px;
& p {
  display: block;
}
}
.severityButton {
  width: 19%;
  float: left;
  & input {
    visibility: hidden;
  }

  & label {
    width: 100%;
    text-align: center;
    font-family: "Roboto-Light", "Roboto", Open Sans;
    color: @snow-white;
    font-size: 12px;
    & p {
      margin: 5px 0 0 0;
    }
  }



  & .outline {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 18px;
    border: 2px solid silver;

    &.selected {
      &#outGrade1 {
        border-color: rgba(237, 27, 36, 0.25);
      }
      &#outGrade2 {
        border-color: rgba(237, 27, 36, 0.4);
      }
      &#outGrade3 {
        border-color: rgba(237, 27, 36, 0.55);
      }
      &#outGrade4 {
        border-color: rgba(237, 27, 36, 0.7);
      }
      &#outGrade5 {
        border-color: rgba(237, 27, 36, 1);
      }
    }

    & .inner {
      width: 16px;
      height: 16px;
      margin-left: 2px;
      margin-top: 2px;
      border: none;
      border-radius: 10px;
      &#inGrade1 {
        background-color: rgba(237, 27, 36, 0.2);
      }
      &#inGrade2 {
        background-color: rgba(237, 27, 36, 0.4);
      }
      &#inGrade3 {
        background-color: rgba(237, 27, 36, 0.6);
      }
      &#inGrade4 {
        background-color: rgba(237, 27, 36, 0.8);
      }
      &#inGrade5 {
        background-color: rgba(237, 27, 36, 1);
      }
    }
  }
}
