<template>
  <require from="./assessment-slider.css"></require>
  <div repeat.for="severity of severityList"
    class="severityButton"
    click.trigger="selectSeverity(severity.grade)">

    <input type="radio"
      id.bind="severity.code + 'Radio'"
      model.bind="severity.grade"
      checked.bind="selectedSeverity">

    <div class.bind="severity.grade <= selectedSeverity ? 'outline selected' : 'outline'"
      id.bind="'outGrade' + selectedSeverity">
      <div class="inner"
        if.bind="severity.grade <= selectedSeverity"
        id.bind="'inGrade' + selectedSeverity">
      </div>
    </div>
  </div>
</template>
