@import "../../resources/styles/theme_guide.less";

.severityButton {
  width: 32%;
  float: left;
  & input {
    visibility: hidden;
  }

  & label {
    width: 100%;
    text-align: center;
    font-family: "Roboto-Light", "Roboto", Open Sans;
    color: @snow-white;
    font-size: 12px;
  }

  & .outline {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 18px;
    border: 2px solid silver;

    &#minorOutline {
      border-color: rgba(239, 198, 0, 0.5);
    }

    &#moderateOutline {
      border-color: rgba(255, 144, 0, 0.5);
    }

    &#majorOutline {
      border-color: rgba(237, 27, 36, 0.5);
    }

    & .inner {
      width: 16px;
      height: 16px;
      margin-left: 2px;
      margin-top: 2px;
      border: none;
      border-radius: 10px;

      &#minorFill {
        background-color: rgba(239, 198, 0, 1);
      }

      &#moderateFill {
        background-color: rgba(255, 144, 0, 1);
      }

      &#majorFill {
        background-color: rgba(237, 27, 36, 1);
      }
    }
  }

  & #minorRadio:checked ~ .outline#minorOutline {
    border-color: rgba(239, 198, 0, 1);
  }

  & #moderateRadio:checked ~ .outline#moderateOutline {
    border-color: rgba(255, 144, 0, 1);
  }

  & #majorRadio:checked ~ .outline#majorOutline {
    border-color: rgba(237, 27, 36, 1);
  }
}
