@import "../../../resources/styles/theme_guide.less";
//Ignore gulp error, implement shorthand paths using aurelia-json

.card_title_wrapper {
  position: relative;
  width: 100%;
  height: 50px;
}

.card_content_wrapper {
  position: relative;
  width: 100%;
  height: 300px; //override by utility.checkBrowserThenResize()
}

.card_navigation_wrapper {
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 1000;
  bottom: 0;
}

// #redirect_screen {
//   display: none;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   background-color: fade(@banjir-blue, 80%);
//   & p {
//     position: absolute;
//     bottom: 12px;
//     right: 12px;
//     width: 50%;
//     text-align: right;
//     font-family: "Roboto", "Roboto", Open Sans;
//     font-size: 16px;
//     color: @snow-white;
//   }
//   z-index: 2000;
// }

