<template>
  <require from="./title-bar.css"></require>

  <div id="cardTitle">
    <div id="alert" if.bind="reportcard.config.enable_test_cardid" click.trigger="showNotification(nua)">
      <p><i class="icon-attention-circled"></i></p>
    </div>
    <p id="titleText">${reportcard.locale.card_titles[titlekey]}</p>
    <div id="langSwitch">
      <li class="langTab">
        <select id="langDropdown" value.bind="reportcard.selLanguage" change.delegate="reportcard.changeLanguage()">
          <option repeat.for="language of reportcard.languages" model.bind="language">${language.name}</option>
        </select>
      </li>
    </div>
    <div id="tabRow">
      <button repeat.for="i of totalcards" class="tabButtons" disabled.bind="!(i < cardcount)"></button>
    </div>
  </div>
</template>
