@import "../../resources/styles/theme_guide.less";

#cardNavigation {
  align-content: center;
  margin: 0px;
  padding: 0px;
  width: 80%;
  height: 40px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  & .navBtn {
    color: #ffffff;
    width: 45%;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto", Open Sans;
    font-size: 14px;
    background: rgba(66, 66, 66, 0.3);
    border: solid 1px #ffffff;
    outline: none;
    &#prv {
      float: left;
      padding: 0px;
    }
    &#nxt {
      float: right;
      padding: 0px;
    }
    &:disabled {
      color: #888888;
    }
    &:active {
      background: #5e5e5e;
      transform: translateY(1px);
    }
  }
}
