<template>
  <require from="./assessment-content.css"></require>
  <require from="../assessment-slider/assessment-slider"></require>

  <div id="assessmentWrapper">
    <div id="assessmentTitle">
      <p >${locale[name]}</p>
    </div>

    <div id="assessmentHint">
      <p >${locale[name + '_hint']}</p>
    </div>

    <!-- yes/no buttons -->
    <div id="assessmentButtons">
      <div repeat.for="selector of damageSelectors"
        class="selectorButtons"
        click.delegate="selectDamage(selector)">

        <input type="radio"
          id.bind="selector + 'Radio'"
          model.bind="selector"
          checked.bind="isDamaged">

        <div class="outline" id.bind="selector + 'Outline'">
          <label for.bind="selector + 'Radio'"
            id.bind="selector + 'Label'">
            ${selector}
          </label>
        </div>
      </div>
    </div>

    <!-- slider hint -->
    <div id="hint" >
      <p  if.bind="!selectedSeverity">
        ${locale.severity.hint}
      </p>
      <p if.bind="selectedSeverity">
        ${locale.severity['grade_' + selectedSeverity]}
      </p>
    </div>

    <!-- slider -->
    <div class="AssesmentField" id="assessmentSlider" if.bind="isDamaged === 'Yes'">
      <assessment-slider
        relay-severity.call="storeSeverity($event)"
        locale.bind="locale.severity">
      </assessment-slider>
    </div>


    <!-- textbox -->
    <div id="assessmentTextWrapper">
      <textarea id="assessmentText"
        if.bind="isDamaged === 'Yes'"
        rows="2"
        placeholder.bind="locale.placeholder"
        value.bind="description"
        keyup.delegate="relayText(description)"
        focusout.delegate="relayText(description)">
      </textarea>
    </div>
  </div>
</template>
