@import "../../resources/styles/theme_guide.less";

#assessmentWrapper {
  border: solid 1px black;
  & #assessmentHint {
    border: solid 1px blue;
    height: 70px;
    font-family: "Roboto-Light", "Roboto", Open Sans;
    color: @snow-white;
    text-align: center;
    font-size: 14px;
    }
  & #assessmentButtons {
    border: solid 1px pink;
    height: 50px;
    display: flex;
    justify-content: center;
    .damagebutton {
      color: #ffffff;
      width: 75px;
      height: 40px;
      border-radius: 5px;
      font-family: "Roboto", Open Sans;
      font-size: 14px;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      &#damaged {
        float: left;
        padding: 0px;
        background: rgba(255, 0, 0, 0.3);
      }
      &#notdamaged {
        float: right;
        padding: 0px;
        background: rgba(0, 255, 0, 0.3);
      }
      &:disabled {
        color: #888888;
      }
      &:active {
        background: #5e5e5e;
        transform: translateY(1px);
      }
    }
  }
  & #assessmentSlider {
  border: solid 1px yellow;
  height: 50px;
  }

  // description box and buttons
& #textWrapper {
    border-top: solid 1px @banjir-blue;
    position: relative;
    width: 226px;
    height: auto;
    margin: 8px auto;
    & #textArea {
      padding: 6px;
      width: 80%;
      height: 80px;
      font-family: "Roboto-Light", "Roboto", Open Sans;
      color: @snow-white;
      border: none;
      font-size: 14px;
      resize: none;
      background-color: @light-gray;
      outline: none;
      &::-webkit-input-placeholder {
        color: @dark-gray;
      }
      &::-moz-placeholder {
        color: @dark-gray;
      }
      &:-moz-placeholder {
        color: @dark-gray;
      }
      &:-ms-input-placeholder {
        color: @dark-gray;
      }
      &:focus {
        margin-top: 7px;
        height: 191px;
        border: 1px solid @banjir-blue;
      }
    }

    & #modBtnWrapper {
      position: relative;
      width: 226px;
      height: 36px;
      border-top: 3px solid @banjir-blue;
      margin: 12px auto;
      & .modBtn {
        position: relative;
        width: 36px;
        height: 36px;
        padding: 3px 0 0 0;
        margin: 0px;
        background-color: transparent;
        border: none;
        color: @snow-white;
        text-shadow: 1px 1px 2px @steel-gray;
        outline: none;
        float: left;
        &:first-child {
          margin-right: 6px;
        }
        & .icon-block {
          line-height: 36px;
          font-size: 20px;
        }
        & .icon-keyboard {
          position: absolute;
          font-size: 20px;
          left: 3px;
          bottom: 3.5px;
        }
        & .icon-down-open {
          position: absolute;
          font-size: 12px;
          left: 8.5px;
          bottom: -3px;
        }
        & .icon-up-open {
          position: absolute;
          font-size: 12px;
          left: 8.5px;
          bottom: 20px;
        }
        &:active {
          border-bottom: 2px solid @banjir-blue;
          color: @banjir-blue;
        }
        &:disabled {
          border: none;
          color: rgba(0, 0, 0, 0.15);
          text-shadow: none;
        }
      }
      & p {
        margin: 0px;
        padding: 12px 0px 0px 0px;
        float: right;
        .bodylight-mixin(14px);
      }
    }
  }
}
